body {
    visibility: hidden;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed; 
}
h4{
    margin-top: 4px;
    padding: 0 25% 1% 25%;
    text-align: center;
    font-size: 1.3rem;
    
    font-style: italic;
}

.card {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #bad2f8; /* Un borde rosa suave para las tarjetas */
    border-radius: 15px; /* Hacer las esquinas de las tarjetas redondeadas */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 35%;
    margin: auto auto auto 32%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

.card img {
    border-radius: 15px; /* También puedes redondear las esquinas de las imágenes */
}

.card h3 {
    /* aumentar el tamaño de la fuente */
    font-size: 1.5rem;
    text-align: center;
    color: #f67280; /* Un color rosa más fuerte para los títulos */
    font-family: 'Playfair Display', serif; /* Una fuente más elegante para los títulos */
}


.card .content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.card img {
    margin-top: 5%;
    width: 35%;
    height: auto;
}

.text-content {
    padding: 0px 20px 0px 20px;
    text-align: left;
    flex: 1;
}

.text-content p, .text-content button {
    margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hidden {
    display: none;
    transition: opacity 0.5s ease;
}



@media screen and (max-width: 600px) {
    .card {
        width: 90%;
    }
}
.link:hover {
    color: #551A8B; /* cambiar el color al pasar el cursor por encima */
}

.link:active {
    color: #EE0000; /* cambiar el color al hacer clic */
}
.link{
    display: block;
    text-decoration: none;
    /* quitar subrayado de los enlaces */
    color: #000000; /* color del texto */
    padding: 10px 0; /* padding arriba y abajo */
    text-align: left; /* alineación a la derecha */
}
#elephant {
    position: fixed;
    right: 20px; /* Ajusta la posición derecha según tus necesidades */
    top: 58%; /* Ajusta la posición vertical según tus necesidades */
 /* Ajusta el valor de scale según tus necesidades */
    transition: transform 0.3s ease;
    width: 25%;

}

.button-base {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-base:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-base:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.button-55 {
    border: 2px solid #bad2f8; 
}

.button-56 {
    border: 2px solid #f6727ba5; 
}
