body {
    visibility: hidden;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed; 
}

h4{
    margin-top: 4px;
    padding: 0 25% 1% 25%;
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
}

.card {
    position: relative;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #bad2f8;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.card h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #f67280;
    font-family: 'Playfair Display', serif;
}

.card .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    margin-top: 5%;
    width: 100%;
    height: auto;
    border-radius: 15px; 
}

.text-content {
    padding: 20px;
    text-align: left;
}

.text-content p, .text-content button {
    margin-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.hidden {
    display: none;
    transition: opacity 0.5s ease;
}

.link:hover {
    color: #551A8B;
}

.link:active {
    color: #EE0000;
}

.link{
    display: block;
    text-decoration: none;
    color: #000000;
    padding: 10px 0;
    text-align: left;
}

#elephant {
    position: fixed;
    right: 20px;
    top: 58%;
    transition: transform 0.3s ease;
    width: 100%;
}

.button-base {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-base:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button-base:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.button-55 {
    border: 2px solid #bad2f8; 
}

.button-56 {
    border: 2px solid #f6727ba5; 
}

/* Media queries for responsive design */
@media (min-width: 600px) {
    .card {
        width: 60%;
    }

    .card .content {
        flex-direction: row;
    }

    .card img {
        width: 50%;
    }

    #elephant {
        width: 30%;
    }
}

@media (min-width: 900px) {
    .card {
        width: 60%;
    }

    .card img {
        width: 35%;
    }

    #elephant {
        width: 25%;
    }
}
