.button-74, .button-75 {
    top: 50%;
    left: 50%;
    background-color: #CAEAFF;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 15px auto; /* Centers the button and adds 10px margin-top and margin-bottom */
    width: 20%; /* Ensures button fills the container */

}

.button-74:hover, .button-75:hover {
    background-color: #fff;
}

.button-74:active, .button-75:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}


.button-75 {
    background-color: #FFCBD0
}



.buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers buttons vertically */
    width: 100%;
    margin-top: 5%;
}
body {
    background-image: url("/images/background.svg");
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed; 
}

.title{
    margin-top: 6%;
    padding: 2%;
    text-align: center;
}
h1{
    font-style: italic;
    font-size: 2.5em;
}
h2{
    font-style: italic;
}

@media screen and (max-width: 600px) {

    
    body{
        background-image: url("/images/background_phone.svg");
        background-repeat: no-repeat;
        background-position: center center; 
        background-size: cover;
        background-attachment: fixed; 
    }
    .title{
        margin-top: 0%;
        padding:8% 8% 4% 8%;
        text-align: center;
    }
    .buttons
    {
        margin-top: 2%;
    }
}
