body {
    visibility: hidden;
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    background-attachment: fixed; 
}

h4 {
    font-family: 'Playfair Display', serif;
    padding: 0 15% 1% 15%;
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
    letter-spacing: 1px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #bad2f8;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 200px;
    overflow: hidden;
    margin: 10px auto;
    padding: 12px 0px 0 0 ;
}

.content {
    display: flex;
    flex-direction: row;
    
    /* que sea maximo el 100% de su contenedor */
    width: 100%;
    height: 100%;
}



.grid-b {
    display: flex;
    flex-direction: column;
    margin-left: 20px;    

    width: 100%;
    height: 100%;
    order: 2;
    grid-template-rows: 1fr 2fr;
    overflow: hidden;
}
.grid-a{
    order: 1;
    display: flex;
    min-width: 35%;
    align-items: center;
    justify-content: center;
    max-width: 35%;
    margin-left: 5%;

}
.grid-b1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.grid-b2 {
    display: flex;
    /* ponemos las cosas en la parte superior */
    /* alineamos en la parte superior */
    justify-content: flex-start;
    flex-direction: column; 
}

.card h3 {
    padding: 0;
    margin-top: 15px;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
    font-family: 'Playfair Display', serif;
}

.card .content {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* que sea maximo el 100% de su contenedor */
    width: 100%;
    height: 100%;

}

.card img {
    margin-top: 5%;
    width: 100%;
    height: auto;
    border-radius: 15px; 
    text-align: right;
}



.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
    transition: opacity 0.5s ease;
}

.link:hover {
    color: #551A8B;
}

.link:active {
    color: #EE0000;
}
.buttons_front{
    margin-top: 10%;
}


#elephant {
    position: relative;
   
    /* alineamos en la parte inferior */
    
    /* posicionamos a la derecha */
    right: 0;
    /* centramos la imagen a la derecha */
   
    transition: transform 0.3s ease;
    width: 22%;
}

.button-74, .button-75, .button-77{
    display: flex;
    justify-content: center;  
    align-items: center;
    background-color: #CAEAFF;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    /*aumentamos el ancho de los botones*/
    
    font-weight: 600;
    width: 80%;
    height: 25px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px auto; /* Centers the button and adds 10px margin-top and margin-bottom */

}
.button-74:hover, .button-75:hover, .button-77:hover {
    background-color: #fff;
}

.button-74:active, .button-75:active, .button-77:active{
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.button-77{
    
    margin-top: 30px;
}
.button-75 {
    background-color: #FFCBD0;
    margin-top: 15px;
}
.back_buttons{
    width: 100%;
    height: 100%;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    
    margin-bottom: 2px;
    align-items: center;
    text-align: center;
    color: #0000EE;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.5s ease;
    word-break: break-all;
}
/* Media queries for responsive design */
@media (max-width: 600px) {
    .card {
        width: 60%;
        height: 150px;
        overflow: hidden;
        
        padding: 5px 10px 5px 10px;
    }

    .card .content {
        flex-direction: row;
    }
    
    .grid-a{
        min-width: 35%;
        max-width: 35%;
    }
    .grid-b {
        margin-left: 12px;
    }
    .grid-b2 {
        width: 100%;
    }
    .link {
        text-decoration: none;
        font-size: 0.6rem;
        /* si se pasa que continue en la siguiente linea */
        word-break: break-all;
        overflow: hidden;
        padding-left: 3px;
    }

    #elephant {
        width: 23%;
        
        
    }
    h4 {
        font-size: 15px;
        padding: 0 5% 5% 5%;
        letter-spacing: 0.8px;
    }

    .card h3 {
        font-size: 0.8em
    }
    .link{
        font-size: 0.6em;
        margin-left: 5px;
    }

    .button-74, .button-75, .button-77 {
        
        font-size: 0.5em;
        width: 80%;
        height: 20px;
        margin: 10px auto; 
        
        box-shadow: #422800 2px 2px 0 0;
        border: 1px solid #422800;
        /* ajustar el tamaño de la letra para que quepa en el boton */
    }
    .button-77{
        margin-top: 20px;
    }
    p{
        font-size: 0.7em;
    }
    .button-75 {
        background-color: #FFCBD0;
        margin-top: 10px;
    }
    .card h3 {
        padding: 0;
        margin-top: 10px;
        font-size: 0.7rem;
        text-align: center;
        color: #000000;
        font-family: 'Playfair Display', serif;
    }
    .grid-b1 p{
        font-size: 0.7rem;
    }
}
